In [3]:
import pandas as pd
import numpy as np
import scipy as sp
import sklearn as sk
import matplotlib.pyplot as plt

In [4]:
# Store filepath in a variable: 
# drop the NaN values and note the details of the dropped data.

co2_corr = "clean_GlobalCO2EmissionsByCountry.csv"

co2_corr_df = pd.read_csv(co2_corr)
co2_corr_df.describe()
co2_corr_df.info()
co2_corr_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9701 entries, 0 to 9700
Data columns (total 4 columns):
country    9701 non-null object
code       9701 non-null object
year       9701 non-null int64
co2        9701 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 303.2+ KB

       country code  year      co2
0  Afghanistan  AFG  1960  414.371
1  Afghanistan  AFG  1961  491.378
2  Afghanistan  AFG  2001  638.058
3  Afghanistan  AFG  1962  689.396
4  Afghanistan  AFG  1963  707.731

In [5]:
co2_min_date = co2_corr_df["year"].min()
co2_max_date = co2_corr_df["year"].max()
print("min date " + str(co2_min_date) + " max date " + str(co2_max_date))

min date 1960 max date 2013

In [7]:
#group by year and sum co2 emissions column
co2_sum_df=(co2_corr_df.groupby(['country','year']).agg({'co2':'sum'}))
co2_sum_df

                        co2
country     year
Afghanistan 1960    414.371
            1961    491.378
            1962    689.396
            1963    707.731
            1964    839.743
            1965   1008.425
            1966   1092.766
            1967   1283.450
            1968   1224.778
            1969    942.419
            1970   1672.152
            1971   1895.839
            1972   1532.806
            1973   1639.149
            1974   1917.841
            1975   2126.860
            1976   1987.514
            1977   2390.884
            1978   2159.863
            1979   2240.537
            1980   1760.160
            1981   1983.847
            1982   2101.191
            1983   2522.896
            1984   2830.924
            1985   3509.319
            1986   3142.619
            1987   3124.284
            1988   2867.594
            1989   2775.919
...                     ...
Zimbabwe    1984   9922.902
            1985  10263.933
            1986  13127.860
            1987  15240.052
            1988  16101.797
            1989  16186.138
            1990  15504.076
            1991  15823.105
            1992  16901.203
            1993  16208.140
            1994  17645.604
            1995  15130.042
            1996  14994.363
            1997  14407.643
            1998  14253.629
            1999  15834.106
            2000  13923.599
            2001  12596.145
            2002  11965.421
            2003  10656.302
            2004   9486.529
            2005  10769.979
            2006  10447.283
            2007   9886.232
            2008   7770.373
            2009   8335.091
            2010   9266.509
            2011  11628.057
            2012  12933.509
            2013  13780.586

[9701 rows x 1 columns]

In [ ]:
#suppress  scientific notation
pd.set_option('display.float_format', lambda x: '%.2f' % x)
series_d["co2_sum_df2"] = series_d["co2_sum_df"]      
series_d

In [8]:
# import the date module
from datetime import date

temp_corr = "clean_GlobalLandTemperaturesByCountry_co2.csv"
temp_corr_df = pd.read_csv(temp_corr, encoding="cp1252")
temp_corr_df.describe()
temp_corr_df.info()
temp_corr_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541645 entries, 0 to 541644
Data columns (total 5 columns):
date                541645 non-null object
avg_temp_f          541645 non-null float64
avg_temp_c          541645 non-null float64
temp_uncertainty    541645 non-null float64
Country             541645 non-null object
dtypes: float64(3), object(2)
memory usage: 20.7+ MB

         date  avg_temp_f  avg_temp_c  temp_uncertainty               Country
0  1743-11-01     45.6908       7.606             1.746  Netherlands (Europe)
1  1743-11-01     25.5722      -3.571             2.965               Finland
2  1743-11-01     25.6946      -3.503             2.672                Norway
3  1743-11-01     45.9140       7.730             1.854               Ireland
4  1743-11-01     45.0050       7.225             2.300               Croatia

In [41]:
# change date to year
from datetime import date

temp_corr_df['date'] = pd.to_datetime(temp_corr_df['date']).dt.strftime('%Y')
temp_corr_df 

temp_corr_df.rename(columns={"date": "year", "Country": "country"})
#temp_corr_df.head

Index(['year', 'avg_temp_f', 'avg_temp_c', 'temp_uncertainty', 'country'], dtype='object')

NameError: name 'Index' is not defined

In [ ]:
#delete all prior to 1960.

In [40]:
#temperature DF:  group by year and get annual mean
#df.groupby(['col5','col2']).reset_index()
temp_mean_df=(temp_corr_df.groupby(["country","year"]).agg({'avg_temp_f':'mean'}).reset_index())
temp_mean_df

KeyError: 'country'

In [38]:
 #merge  temperature and CO2 dframes into dataframe with these 2 cols. 

merged_temp_and_co2_df = pd.merge(left=temp_mean_df, right=co2_sum_df, how='left', on=["country","year"])
#print(merged_temp_and_co2_df)

merged_temp_and_co2_df.columns

#Index(['country', 'year', 'temp', 'co2'], dtype='object')

KeyError: 'country'

In [ ]:
merged_temp_and_co2_df.corr(merged_temp_and_co2_df['temp','co2'])

#run df.corr()

In [ ]:
#########################################################################################

In [ ]:
# Export file as an XLSX or CSV, w/o index, w/ header
co2_pl_df.to_excel("./clean_GlobalCO2EmissionsByCountry.xlsx", index=False, header=True)
#co2_1_df.to_csv("./clean_GlobalCO2EmissionsByCountry.csv", index=False, header=True)

In [ ]:
#Pearson correlation coefficient
co2_pl_df.corr()
#weather_data.plot(x=weather_data['lat'], y=weather_data['max_temp'])
# Build a scatter plot for each data type
#plt.scatter(weather_data["lat"], weather_data["max_temp"], marker="o")

In [ ]:
co2_1_df.corr(method='pearson', min_periods=1000)[co2_1_df]

In [ ]:
df_box['co2_1'].plot(kind='box')
#co2_1_df.plot.box()
plt.show()

In [ ]:
df['co2_emissions'].hist()
df.hist()
plt.show()

In [ ]:
# Lag Plot of temp data

# Lag plots are used to check if a data set or time series is random. Random data should not exhibit any structure in the lag plot. Non-random structure implies that the underlying data are not random.

from pandas.plotting import lag_plot
plt.figure()


data = pd.Series(0.1 * np.random.rand(1000) +
     0.9 * np.sin(np.linspace(-99 * np.pi, 99 * np.pi, num=1000)))
lag_plot(data)