In [103]:
import pandas as pd
import numpy as np
import scipy as sp
import sklearn as sk

In [104]:
# Store filepath in a variable: use parse_dates=["date"] or dtype=object
# drop the NaN values and note the details of the dropped data.

# 1377884570_tweet_global_warming.csv
# 
gw_1 = "GlobalLandTemperatures_GlobalLandTemperaturesByCountry.csv"
# count 544811 avg temp 545550 avg temp uncertain
# Read our Data file with the pandas library
gw_1_df = pd.read_csv(gw_1,parse_dates=["dt"])
gw_1_df.describe()
#w_1_df.info()
#gw_1_df.head()

       AverageTemperature  AverageTemperatureUncertainty
count       544811.000000                  545550.000000
mean            17.193354                       1.019057
std             10.953966                       1.201930
min            -37.658000                       0.052000
25%             10.025000                       0.323000
50%             20.901000                       0.571000
75%             25.814000                       1.206000
max             38.842000                      15.003000

In [105]:
gw_1_df= gw_1_df.dropna(axis=0)
gw_1_df.describe()
gw_1_df.info()
gw_1_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544811 entries, 0 to 577460
Data columns (total 4 columns):
dt                               544811 non-null datetime64[ns]
AverageTemperature               544811 non-null float64
AverageTemperatureUncertainty    544811 non-null float64
Country                          544811 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 20.8+ MB

          dt  AverageTemperature  AverageTemperatureUncertainty Country
0 1743-11-01               4.384                          2.294   Åland
5 1744-04-01               1.530                          4.680   Åland
6 1744-05-01               6.702                          1.789   Åland
7 1744-06-01              11.609                          1.577   Åland
8 1744-07-01              15.342                          1.410   Åland

In [106]:
# Remove these wierd characters
gw_1_df = gw_1_df.loc[gw_1_df["Country"] != "Åland" ]
gw_1_df.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,Country
3239,1838-04-01,13.008,2.586,Afghanistan
3241,1838-06-01,23.950,2.510,Afghanistan
3242,1838-07-01,26.877,2.883,Afghanistan
3243,1838-08-01,24.938,2.992,Afghanistan
3244,1838-09-01,18.981,2.538,Afghanistan

In [107]:
# Rename the data column names
gw_1_df = gw_1_df.rename(columns={'dt':'date',
                                  'AverageTemperature':'avg_temp',
                                  'AverageTemperatureUncertainty':'temp_uncertainty'})

In [108]:
# Reset the index to break the connection to the old data frame
gw_1_df = gw_1_df.sort_values(["date"],  ascending=[True]).reset_index(drop=True)
gw_1_df.head()

        date  avg_temp  temp_uncertainty               Country
0 1743-11-01     7.606             1.746  Netherlands (Europe)
1 1743-11-01    -3.571             2.965               Finland
2 1743-11-01    -3.503             2.672                Norway
3 1743-11-01     7.730             1.854               Ireland
4 1743-11-01     7.225             2.300               Croatia

In [109]:
# Reset the index to break the connection to the old data frame
gw1_min_date = gw_1_df["date"].min()
gw1_max_date = gw_1_df["date"].max()
print("min date " + str(gw1_min_date) + " max date " + str(gw1_max_date))

min date 1743-11-01 00:00:00 max date 2013-09-01 00:00:00

In [110]:
gw_1_df.info()
gw_1_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541645 entries, 0 to 541644
Data columns (total 4 columns):
date                541645 non-null datetime64[ns]
avg_temp            541645 non-null float64
temp_uncertainty    541645 non-null float64
Country             541645 non-null object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 16.5+ MB

        date  avg_temp  temp_uncertainty               Country
0 1743-11-01     7.606             1.746  Netherlands (Europe)
1 1743-11-01    -3.571             2.965               Finland
2 1743-11-01    -3.503             2.672                Norway
3 1743-11-01     7.730             1.854               Ireland
4 1743-11-01     7.225             2.300               Croatia

In [ ]:
# Export file as an XLSX or CSV, w/o index, w/ header
gw_1_df.to_excel("./output/clean_GlobalLandTemperaturesByCountry.xlsx", index=False, header=True)
#gw_1_df.to_csv("./output/clean_GlobalLandTemperaturesByCountry.csv", index=False, header=True)

In [112]:
# Store filepath in a variable: use parse_dates=["date"] or dtype=object
# drop the NaN values and note the details of the dropped data.

# 
gw_2 = "GlobalLandTemperatures_GlobalLandTemperaturesByState.csv"
# Read our Data file with the pandas library
gw_2_df = pd.read_csv(gw_2,parse_dates=["dt"])
gw_2_df.info()
gw_2_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645675 entries, 0 to 645674
Data columns (total 5 columns):
dt                               645675 non-null datetime64[ns]
AverageTemperature               620027 non-null float64
AverageTemperatureUncertainty    620027 non-null float64
State                            645675 non-null object
Country                          645675 non-null object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 24.6+ MB

          dt  AverageTemperature  AverageTemperatureUncertainty State Country
0 1855-05-01              25.544                          1.171  Acre  Brazil
1 1855-06-01              24.228                          1.103  Acre  Brazil
2 1855-07-01              24.371                          1.044  Acre  Brazil
3 1855-08-01              25.427                          1.073  Acre  Brazil
4 1855-09-01              25.675                          1.014  Acre  Brazil

In [113]:
gw_2_df= gw_2_df.dropna(axis=0)
gw_2_df.describe()
gw_2_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 620027 entries, 0 to 645673
Data columns (total 5 columns):
dt                               620027 non-null datetime64[ns]
AverageTemperature               620027 non-null float64
AverageTemperatureUncertainty    620027 non-null float64
State                            620027 non-null object
Country                          620027 non-null object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 28.4+ MB

In [114]:
# Rename the data column names
gw_2_df = gw_2_df.rename(columns={'dt':'date',
                                  'AverageTemperature':'avg_temp',
                                  'AverageTemperatureUncertainty':'temp_uncertainty'})

In [115]:
# Reset the index to break the connection to the old data frame
gw_2_df = gw_2_df.sort_values(["date"],  ascending=[True]).reset_index(drop=True)

In [116]:
# Reset the index to break the connection to the old data frame
gw2_min_date = gw_2_df["date"].min()
gw2_max_date = gw_2_df["date"].max()
print("min date " + str(gw2_min_date) + " max date " + str(gw2_max_date))

min date 1743-11-01 00:00:00 max date 2013-09-01 00:00:00

In [117]:
gw_2_df.info()
gw_2_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620027 entries, 0 to 620026
Data columns (total 5 columns):
date                620027 non-null datetime64[ns]
avg_temp            620027 non-null float64
temp_uncertainty    620027 non-null float64
State               620027 non-null object
Country             620027 non-null object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 23.7+ MB

        date  avg_temp  temp_uncertainty      State        Country
0 1743-11-01    -0.831             3.427  Wisconsin  United States
1 1743-11-01     5.953             2.220   Maryland  United States
2 1743-11-01    -2.108             2.507   Novgorod         Russia
3 1743-11-01    -5.708             4.134  Tatarstan         Russia
4 1743-11-01    -6.209             3.532   Murmansk         Russia

In [ ]:
# Export file as an XLSX or CSV, w/o index, w/ header
gw_2_df.to_excel("./output/clean_GlobalLandTemperaturesByState.xlsx", index=False, header=True)
#gw_2_df.to_csv("./output/clean_GlobalLandTemperaturesByState.csv", index=False, header=True)

In [119]:
# GlobalLandTemperatures_GlobalLandTemperaturesByMajorCity.csv
# 
gw_3 = "GlobalLandTemperatures_GlobalLandTemperaturesByMajorCity.csv"
# Read our Data file with the pandas library
gw_3_df = pd.read_csv(gw_3,parse_dates=["dt"])
gw_3_df.info()
gw_3_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239177 entries, 0 to 239176
Data columns (total 7 columns):
dt                               239177 non-null datetime64[ns]
AverageTemperature               228175 non-null float64
AverageTemperatureUncertainty    228175 non-null float64
City                             239177 non-null object
Country                          239177 non-null object
Latitude                         239177 non-null object
Longitude                        239177 non-null object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 12.8+ MB

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [120]:
gw_3_df= gw_3_df.dropna(axis=0)
gw_3_df.describe()
gw_3_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228175 entries, 0 to 239175
Data columns (total 7 columns):
dt                               228175 non-null datetime64[ns]
AverageTemperature               228175 non-null float64
AverageTemperatureUncertainty    228175 non-null float64
City                             228175 non-null object
Country                          228175 non-null object
Latitude                         228175 non-null object
Longitude                        228175 non-null object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 13.9+ MB

In [121]:
# Rename the data column names
gw_3_df = gw_3_df.rename(columns={'dt':'date',
                                  'AverageTemperature':'avg_temp',
                                  'AverageTemperatureUncertainty':'temp_uncertainty'})

In [122]:
# Reset the index to break the connection to the old data frame
gw_3_df = gw_3_df.sort_values(["date"],  ascending=[True]).reset_index(drop=True)

In [123]:
# Reset the index to break the connection to the old data frame
gw3_min_date = gw_3_df["date"].min()
gw3_max_date = gw_3_df["date"].max()
print("min date " + str(gw3_min_date) + " max date " + str(gw3_max_date))

min date 1743-11-01 00:00:00 max date 2013-09-01 00:00:00

In [124]:
gw_3_df.info()
gw_3_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228175 entries, 0 to 228174
Data columns (total 7 columns):
date                228175 non-null datetime64[ns]
avg_temp            228175 non-null float64
temp_uncertainty    228175 non-null float64
City                228175 non-null object
Country             228175 non-null object
Latitude            228175 non-null object
Longitude           228175 non-null object
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 12.2+ MB

,date,avg_temp,temp_uncertainty,City,Country,Latitude,Longitude
0,1743-11-01,7.541,1.753,London,United Kingdom,52.24N,0.00W
1,1743-11-01,0.895,2.092,Kiev,Ukraine,50.63N,31.69E
2,1743-11-01,-1.854,1.734,Montreal,Canada,45.81N,72.69W
3,1743-11-01,-2.570,2.037,Moscow,Russia,55.45N,36.85E
4,1743-11-01,10.365,2.325,Istanbul,Turkey,40.99N,29.82E

In [134]:
# For data analysis: Export file as an XLSX or CSV, w/o index, w/ header
#gw_3_df.to_excel("./output/clean_GlobalLandTemperaturesByMajorCity.xlsx", index=False, header=True)
gw_3_df.to_csv("./output/clean_GlobalLandTemperaturesByMajorCity.csv", index=False, header=True)

In [126]:
#GlobalLandTemperatures_GlobalTemperatures.csv
# 
gw_4 = "GlobalLandTemperatures_GlobalTemperatures.csv"
# Read our Data file with the pandas library
gw_4_df = pd.read_csv(gw_4,parse_dates=["dt"])
gw_4_df.info()
gw_4_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
dt                                           3192 non-null datetime64[ns]
LandAverageTemperature                       3180 non-null float64
LandAverageTemperatureUncertainty            3180 non-null float64
LandMaxTemperature                           1992 non-null float64
LandMaxTemperatureUncertainty                1992 non-null float64
LandMinTemperature                           1992 non-null float64
LandMinTemperatureUncertainty                1992 non-null float64
LandAndOceanAverageTemperature               1992 non-null float64
LandAndOceanAverageTemperatureUncertainty    1992 non-null float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 224.5 KB

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [127]:
gw_4_df= gw_4_df.dropna(axis=0)
gw_4_df.describe()
gw_4_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1992 entries, 1200 to 3191
Data columns (total 9 columns):
dt                                           1992 non-null datetime64[ns]
LandAverageTemperature                       1992 non-null float64
LandAverageTemperatureUncertainty            1992 non-null float64
LandMaxTemperature                           1992 non-null float64
LandMaxTemperatureUncertainty                1992 non-null float64
LandMinTemperature                           1992 non-null float64
LandMinTemperatureUncertainty                1992 non-null float64
LandAndOceanAverageTemperature               1992 non-null float64
LandAndOceanAverageTemperatureUncertainty    1992 non-null float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 155.6 KB

In [128]:
# Rename the data column names
gw_4_df = gw_4_df.rename(columns={'dt':'date',
                                  'LandAverageTemperature':'land_avg_temp',
                                  'LandAverageTemperatureUncertainty':'land_temp_uncertainty',
                                  'LandMaxTemperature': 'land_max_temp',
                                  'LandMaxTemperatureUncertainty': 'land_temp_uncertainty',
                                  'LandMinTemperature': 'land_min_temp',
                                  'LandAndOceanAverageTemperature': 'land_ocean_avg_temp',
                                  'LandAndOceanAverageTemperatureUncertainty': 'land_ocean_temp_uncertainty'})

In [129]:
# Reset the index to break the connection to the old data frame
gw_4_df = gw_4_df.sort_values(["date"],  ascending=[True]).reset_index(drop=True)

In [130]:
# Reset the index to break the connection to the old data frame
gw4_min_date = gw_4_df["date"].min()
gw4_max_date = gw_4_df["date"].max()
print("min date " + str(gw4_min_date) + " max date " + str(gw4_max_date))

min date 1850-01-01 00:00:00 max date 2015-12-01 00:00:00

In [131]:
gw_4_df.info()
gw_4_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1992 entries, 0 to 1991
Data columns (total 9 columns):
date                             1992 non-null datetime64[ns]
land_avg_temp                    1992 non-null float64
land_temp_uncertainty            1992 non-null float64
land_max_temp                    1992 non-null float64
land_temp_uncertainty            1992 non-null float64
land_min_temp                    1992 non-null float64
LandMinTemperatureUncertainty    1992 non-null float64
land_ocean_avg_temp              1992 non-null float64
land_ocean_temp_uncertainty      1992 non-null float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 140.1 KB

,date,land_avg_temp,land_temp_uncertainty,land_max_temp,land_temp_uncertainty,land_min_temp,LandMinTemperatureUncertainty,land_ocean_avg_temp,land_ocean_temp_uncertainty
0,1850-01-01,0.749,1.105,8.242,1.738,-3.206,2.822,12.833,0.367
1,1850-02-01,3.071,1.275,9.970,3.007,-2.291,1.623,13.588,0.414
2,1850-03-01,4.954,0.955,10.347,2.401,-1.905,1.410,14.043,0.341
3,1850-04-01,7.217,0.665,12.934,1.004,1.018,1.329,14.667,0.267
4,1850-05-01,10.004,0.617,15.655,2.406,3.811,1.347,15.507,0.249

In [ ]:
# For data analysis: Export file as an XLSX or CSV, w/o index, w/ header
#gw_4_df.to_excel("./output/clean_GlobalLandTemps.xlsx", index=False, header=True)
gw_4_df.to_csv("./output/clean_GlobalLandTemps.csv", index=False, header=True)